In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [9]:
#input number of rows required in data
num_rows = int(input("Enter the number of rows for orders:"))

Enter the number of rows for orders: 100000

In [10]:
#generate the series of dates between 2014 and 2024
random_dates = np.random.choice(np.arange(np.datetime64('2014-01-01'),np.datetime64('2024-10-31')),size = num_rows)
print(random_dates)

['2015-02-28' '2017-06-05' '2021-07-05' ... '2014-11-04' '2022-10-22'
 '2014-01-10']

In [11]:
#do the required formatting
formatted_rows = pd.to_datetime(random_dates).strftime('%Y%m%d')

In [12]:
data = {
    'DateID':formatted_rows,
    'ProductID':np.random.randint(1,1001,size = num_rows),
    'StoreID':np.random.randint(1,101,size = num_rows),
    'CustomerID':np.random.randint(1,1001,size = num_rows),
    'QuantityOrdered':np.random.randint(1,21,size = num_rows),
    'OrderAmount':np.random.randint(100,1001,size = num_rows)
}
print(data)

{'DateID': Index(['20150228', '20170605', '20210705', '20240108', '20211019', '20220206',
       '20140624', '20200921', '20240419', '20231004',
       ...
       '20151113', '20180605', '20220515', '20151012', '20220227', '20150302',
       '20230827', '20141104', '20221022', '20140110'],
      dtype='object', length=100000), 'ProductID': array([195, 460, 424, ..., 252, 600, 717]), 'StoreID': array([93, 30, 78, ..., 49, 39, 36]), 'CustomerID': array([497, 828, 659, ..., 346, 946, 883]), 'QuantityOrdered': array([20,  6, 14, ..., 15,  4, 12]), 'OrderAmount': array([578, 519, 350, ..., 815, 188, 793])}

In [13]:
df = pd.DataFrame(data)
print(df)

         DateID  ProductID  StoreID  CustomerID  QuantityOrdered  OrderAmount
0      20150228        195       93         497               20          578
1      20170605        460       30         828                6          519
2      20210705        424       78         659               14          350
3      20240108         12        6         776                7          986
4      20211019        329       42         765               15          863
...         ...        ...      ...         ...              ...          ...
99995  20150302        705       95         655               11          652
99996  20230827        465       67         158                6          593
99997  20141104        252       49         346               15          815
99998  20221022        600       39         946                4          188
99999  20140110        717       36         883               12          793

[100000 rows x 6 columns]

In [14]:
discount_perc = np.random.uniform(0.02, 0.15, size = num_rows)
shipping_cost = np.random.uniform(0.05, 0.15, size = num_rows)

In [15]:
#calculated columns
df['DiscountAmount'] = df['OrderAmount'] * discount_perc
df['ShippingCost'] = df['OrderAmount'] * shipping_cost
df['TotalAmount'] = df['OrderAmount'] - (df['DiscountAmount'] + df['ShippingCost'])
print(df)

         DateID  ProductID  StoreID  CustomerID  QuantityOrdered  OrderAmount  \
0      20150228        195       93         497               20          578
1      20170605        460       30         828                6          519
2      20210705        424       78         659               14          350
3      20240108         12        6         776                7          986
4      20211019        329       42         765               15          863
...         ...        ...      ...         ...              ...          ...
99995  20150302        705       95         655               11          652
99996  20230827        465       67         158                6          593
99997  20141104        252       49         346               15          815
99998  20221022        600       39         946                4          188
99999  20140110        717       36         883               12          793

       DiscountAmount  ShippingCost  TotalAmount
0           46.792457     60.956374   470.251170
1           24.638798     46.155881   448.205321
2           27.572542     25.395111   297.032347
3           23.911859    133.158041   828.930101
4           90.774698     81.748694   690.476607
...               ...           ...          ...
99995       24.541877     57.592153   569.865969
99996       25.651024     78.871410   488.477565
99997       71.460276    108.028398   635.511326
99998       12.486795     11.081498   164.431707
99999       96.457657     67.924338   628.618004

[100000 rows x 9 columns]

In [16]:
#export data to csv
df.to_csv('FactOrdersInfo.csv',index=False)